absl-py==2.1.0
accelerate==1.0.1
aioboto3==13.4.0
aiobotocore==2.18.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aioitertools==0.12.0
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.4.14
annotated-types==0.7.0
anyio==4.5.2
apturl==0.5.2
asttokens==2.4.1
async-timeout==5.0.1
attrs==25.1.0
azure-ai-translation-text==1.0.1
azure-core==1.32.0
backcall==0.2.0
batchgenerators==0.25.1
bcrypt==3.1.7
bleach==6.1.0
blessed==1.21.0
blinker==1.4
boto3==1.36.1
botocore==1.36.1
Brlapi==0.7.0
cachetools==5.5.0
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
command-not-found==0.3
contourpy==1.1.1
cryptography==2.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.16
decorator==5.1.1
deepl==1.18.0
deeplake==3.8.28
defer==1.0.6
dill==0.3.9
distro==1.9.0
distro-info==0.23+ubuntu1.1
docker-pycreds==0.4.0
doclayout_yolo==0.0.2
duplicity==0.8.12.0
einops==0.8.0
entrypoints==0.3
et_xmlfile==2.0.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==2.0.1
faiss-gpu==1.7.2
fastapi==0.115.6
fasteners==0.14.1
ffmpy==0.5.0
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.5.0
fsspec==2024.6.1
future==0.18.2
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.34.0
google-auth-oauthlib==1.0.0
googledrivedownloader==1.1.0
gpustat==1.1.1
gradio==4.44.1
gradio_client==1.3.0
grpcio==1.65.5
h11==0.14.0
h5py==3.11.0
hdf5storage==0.1.19
hf-xet==1.1.7
hnswlib==0.8.0
httpcore==1.0.7
httplib2==0.14.0
httpx==0.27.2
huggingface-hub==0.34.4
humbug==0.3.2
idna==2.8
imageio==2.35.1
importlib_metadata==8.2.0
importlib_resources==6.4.3
iniconfig==2.0.0
iopath==0.1.10
ipython==8.12.3
isodate==0.7.2
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kaggle==1.6.17
kagglehub==0.2.9
keyring==18.0.1
kiwisolver==1.4.5
kornia==0.7.3
kornia_rs==0.1.8
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy_loader==0.4
libdeeplake==0.0.118
lightning-utilities==0.11.9
linecache2==1.0.0
llvmlite==0.41.1
lockfile==0.12.2
louis==3.12.0
lz4==4.3.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
MedPy==0.5.2
monotonic==1.5
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.17
nest-asyncio==1.6.0
netifaces==0.10.4
networkx==3.1
nltk==3.9.1
numba==0.58.1
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==13.580.65
nvidia-nccl-cu11==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
oauthlib==3.1.0
olefile==0.46
ollama==0.4.6
openai==1.59.7
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
orjson==3.10.14
packaging==24.1
pandas==2.0.3
paramiko==2.6.0
parso==0.8.4
pathos==0.3.3
pdf2zh==1.7.9
pexpect==4.6.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
portalocker==3.0.0
pox==0.3.5
ppft==1.7.6.9
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==5.27.3
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.16.2
pycocotools==2.0.7
pycups==1.9.73
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.18.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyMuPDF==1.24.11
PyNaCl==1.3.0
pynndescent==0.5.13
pyparsing==3.1.2
pyRFC3339==1.1
pytest==8.3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-dotenv==1.0.1
python-multipart==0.0.20
python-slugify==8.0.4
pytz==2024.1
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==5.3.1
regex==2024.11.6
reportlab==3.5.34
requests==2.32.3
requests-oauthlib==2.0.0
requests-unixsocket==0.2.0
rich==13.9.4
rsa==4.9
ruff==0.9.2
s3transfer==0.11.2
safetensors==0.5.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==2.3.1
semantic-version==2.10.0
sentry-sdk==2.19.2
setproctitle==1.3.4
shellingham==1.5.4
SimpleITK==2.4.0
simplejson==3.16.0
six==1.14.0
smmap==5.0.1
sniffio==1.3.1
ssh-import-id==5.10
stack-data==0.6.3
starlette==0.41.3
sympy==1.13.1
systemd-python==234
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==1.0.14
tokenizers==0.20.3
tomli==2.0.1
tomlkit==0.12.0
torch==2.4.1+cu118
torch-summary==1.4.5
torchaudio==2.4.1+cu118
torchinfo==1.8.0
torchmetrics==1.5.2
torchnet==0.0.4
torchvision==0.19.1+cu118
tornado==6.4.2
tqdm==4.66.5
traceback2==1.4.0
traitlets==5.14.3
transformers==4.46.3
triton==3.0.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
ultralytics==8.3.87
ultralytics-thop==2.0.9
umap==0.1.1
umap-learn==0.5.7
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==2.2.3
usb-creator==0.3.7
uvicorn==0.33.0
visdom==0.2.4
wadllib==1.3.3
wandb==0.19.1
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wrapt==1.17.2
xkit==0.0.0
yacs==0.1.8
yarl==1.15.2
zipp==3.20.0
